// Common badge

.badges {display: inline-block; width: 35px; height: 35px; line-height: 32px; font-size: 1.5rem; background-color: $bg-black;
  color: $text-orange; text-align: center; border: $border-size $primary;}
