// Header section

.section-primary {padding: $value_0_25 $value_1 $value_0_5 $value_1; font-family: $font-segoe; background: $bg-black; color: $text-orange}
.section-secondary {padding: $value_0_5 $value_1; background: $bg-silver-darker; font-weight: normal;}
