//office-payment-page 
.office-payment-page {
    .mt-4.pl-5{
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    article.mt-4.pl-5{
        padding-left: 1rem!important;
        padding-right: 1rem;
    }
    .d-flex.align-items-center.pt-1.pl-4{
        flex-wrap: wrap;
        padding-right: 0rem!important;
        padding-left: 0rem!important;
        h5{
            margin-right: 3rem!important;
            margin-top: 0.5rem!important;
            margin-bottom: 0.5rem!important;
        }
    }
    .btn.btn-lg {
        min-width: 162px
    }
    .btn.btn-orange.ml-5{
        margin-left: 0rem!important;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
  }